.hero-section {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    background-image: url('https://thumbs.dreamstime.com/z/swimming-pool-eco-resort-20373904.jpg');
    color: white;
  }
  